.freight-section {
    display: flex;
    background: var(--yellow);
    padding: 4rem;
}

.freight-section-items-center {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 4.8rem;
}

.freight-section-text-format-p {
    font-size: 2rem;
    font-family: var(--poppins-font);
    font-weight: 500;
    color: var(--black);
}

.freight-section-text-format-h1-span {
    font-size: 4rem;
    font-family: var(--poppins-font);
    color: var(--grey-dark);
    font-weight: 600;
}

.freight-section-text-format-h1 {
    font-size: 4rem;
    font-family: var(--poppins-font);
    font-weight: 600;
}