* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --font-size: 1.6rem;
    --black: #0B0B0B;
    --black-light: #1A1A1A;
    --grey: #C9C9C9;
    --white: #FFFFFF;
    --yellow: #F7C417;
    --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.20);
    --red: red;
    --best-seller-background-card-color: #FFF1C0;
    --grey-dark: #606060;
    --discount-grey: #5E7885;
    --primary-dark: #014A71;
    --white-80: rgba(255, 255, 255, 0.8);
    --white-background-color: #F5F5F5;
    --linear-color: linear-gradient(90deg, #FF5F3A, #FFC940);
    --border-color-best-seller: #AA2315;
    --button-color: #FFFE4A;
    --inter-font: 'Inter', sans-serif;
    --poppins-font: 'Poppins', sans-serif;
    --font-family-h1: 'Inter', sans-serif;
    --font-family-first-p: 'Inter', sans-serif;
    --font-family-h2: 'Inter', sans-serif;
    --font-family-first-and-seconds-infos: 'Inter', sans-serif;
    --font-family-button: 'Inter', sans-serif;
    --font-family-contain-frame-description: 'Poppins', sans-serif;
    --font-family-pricing-h3: 'Poppins', sans-serif;
    --font-family-h3-p: 'Inter', sans-serif;
}
