.pricing-table {
    background: var(--white);
    margin-bottom: 8rem;
    
}

.pricing-table-main-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8rem;
}

.pricing-table-main-text h3 {
    color: var(--linear-color);
    font-family: var(--font-family-pricing-h3);
    font-size: 4rem;
}

.pricing-table-span-color {
    background: var(--linear-color);
    background-clip: text;
    color: transparent;
}

.pricing-table-main-text p {
    font-size: 2rem;
    color: var(--grey-dark);
    font-family: var(--font-family-h3-p);

}

.pricing-table-style {
    background: var(--white);
    width: 382px;

    border: 1px solid var(--grey);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.pricing-table-style-best-seller-style {
    background: var(--best-seller-background-card-color);
    width: 382px;
    margin-top: -4.1rem;

    border: 1px solid var(--border-color-best-seller);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.pricing-table-text-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--black);
    padding: .8rem;
    font-family: var(--font-family-h1);
    font-weight: 400;
    color: var(--white);
    font-size: 2.4rem;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.pricing-table-text-style-best-seller-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--linear-color);
    padding: 1.1rem;
    font-family: var(--font-family-h1);
    font-weight: 400;
    color: var(--white);
    font-size: 2.4rem;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.pricing-table-text-center-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6rem;
}

.pricing-table-text-center-style-standard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6rem
}

.pricing-check-style-group-standard {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.pricing-text-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-table-style-standard {
    border: 1px solid;
    width: 382px;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.pricing-table-text-center-style-best-seller-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1.3rem;
}

.pricing-table-text-contain-style-best-seller-style {
    margin-bottom: 4.5rem;
}

.pricing-chack-style-best-seller {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.pricing-table-text-description {
    font-size: 3.6rem;
    font-weight: bold;
    font-family: var(--font-family-h1);
    color: var(--black-light);
}

.pricing-table-text-description-best-seller-style {
    font-size: 3.6rem;
    font-weight: bold;
    font-family: var(--font-family-h1);
    color: var(--black-light);
}

.pricing-table-text-days-supply {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: var(--font-family-h1);
    color: var(--grey-dark);
}

.pricing-table-text-days-supply-best-seller-style {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: var(--font-family-h1);
    color: var(--grey-dark);
}

.pricing-text {
    font-size: 6.4rem;
    font-weight: bold;
    font-family: var(--font-family-h1);
    color: var(--black-light);
}

.pricing-text-style-span {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: var(--font-family-h1);
    color: var(--grey-dark);
}

.pricing-chack-style {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 4.7rem;

}

.pricing-chack-style p {
    font-size: var(--font-size);
    font-family: var(--font-family-h1);
    font-weight: 500;
    color: var(--grey-dark);
}

.buynow {
    display: inline-block;

    margin-top: 3.4rem;
    margin-left: 2.8rem;
    margin-bottom: 1.6rem;
    width: 314px;
    height: 103px;
    background-image: url(images/buynow.png);
}

.flagcards {
    margin-left: 2.8rem;
}

.pricing-text-style {
    font-family: var(--font-family-h1);
    color: var(--discount-grey);

}

.discount-text {
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 1.6rem;
    margin-bottom: 3.8rem;
    text-align: center;

    color: var(--discount-grey);
    font-family: var(--font-family-h1);
}

.discount-price {
    text-decoration: line-through var(--red);
}

.discount-price-new-value {
    color: var(--primary-dark);
}

.pricing-cards-group {
    display: flex;
    margin-left: 35rem;
    gap: 3.2rem;
}

.princing-text-cards-starter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.3rem;
}
