* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --font-size: 1.6rem;
    --black: #0B0B0B;
    --black-light: #1A1A1A;
    --grey: #C9C9C9;
    --white: #FFFFFF;
    --yellow: #F7C417;
    --red: red;
    --best-seller-background-card-color: #FFF1C0;
    --grey-dark: #606060;
    --discount-grey: #5E7885;
    --primary-dark: #014A71;
    --white-80: rgba(255, 255, 255, 0.8);
    --white-background-color: #F5F5F5;
    --linear-color: linear-gradient(90deg, #FF5F3A, #FFC940);
    --border-color-best-seller: #AA2315;
    --button-color: #FFFE4A;
    --font-family-h1: 'Inter', sans-serif;
    --font-family-first-p: 'Inter', sans-serif;
    --font-family-h2: 'Inter', sans-serif;
    --font-family-first-and-seconds-infos: 'Inter', sans-serif;
    --font-family-button: 'Inter', sans-serif;
    --font-family-contain-frame-description: 'Poppins', sans-serif;
    --font-family-pricing-h3: 'Poppins', sans-serif;
    --font-family-h3-p: 'Inter', sans-serif;
}

.main-contain {
    display: flex;
    flex-direction: column;
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    height: 780px;
}

.main-contain-first-info {
    margin-left: 35rem;
    margin-top: 15rem;
    width: 517px;
}

.main-contain-first-info h1 {
    font-family: var(--font-family-h1);
    color: var(--white);
    font-size: 4rem;
    width: 483px;
}

.main-first-span-gradient-color {
    background: var(--linear-color);
    background-clip: text;
    color: transparent;
}

.main-first-contain {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
}

.main-first-contain-first-p {
    font-size: 1.6rem;
    font-family: var(--font-family-first-p);
}

.main-first-contain .main-first-contain-first-p {
    color: var(--white-80);
}

.main-contain-first-info h2 {
    color: var(--white-80);
    width: 483px;
    font-family: var(--font-family-h2);
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
}

.main-contain-first-info h2 span {
    color: var(--white);
    font-weight: 600;
}

.main-first-check-line,
.main-second-check-line {
    display: flex;
}

.main-second-check-line {
    margin-top: 2.4rem;
}

.main-first-check-line-group,
.main-second-check-line-group {
    font-family: var(--font-family-first-and-seconds-infos);
    margin-left: .8rem;
    margin-right: 2.4rem;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
}

.main-three-check-line-group,
.main-for-check-line-group {
    font-family: var(--font-family-first-and-seconds-infos);
    margin-left: .8rem;
    margin-right: 2.4rem;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;

}

.contain-inline-text {
    display: flex;
    margin-left: 1.5rem;
    white-space: nowrap;
}

.main-button-ordernow {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4rem;

    background: var(--button-color);
    gap: 1.6rem;
    width: 396px;
    color: var(--black);
    font-size: 2.4rem;
    font-family: var(--font-family-button);
    font-weight: 600;
    cursor: pointer;

    background: linear-gradient(180deg, #f8e85c 0%, #FFEB3B 50%, #FDD835 100%);

    border: none;
    border-bottom: 6px solid #C9A227;
    border-radius: 50px;
    padding: 18px;
    display: inline-flex;
}

.contain-frames-styles {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    margin-top: -2px;
    background: var(--yellow);
}

.contain-frame-description {
    display: flex;
    align-items: center;
    gap: 3.7rem;
    margin-right: 3.7rem;

}

.contain-frame-separation {
    margin-left: 35rem;
    display: flex;
}

.contain-frame-image-and-text-style {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.contain-frame-image-and-text-style p {
    font-family: var(--font-family-contain-frame-description);
    font-size: 2rem;
}

.contain-frame-description-thre-info {
    display: flex;
}

.contain-frame-image-and-text-style-thre-info p {
    width: 50rem;
    font-family: var(--font-family-contain-frame-description);
    font-size: 2rem;
}

.pricing-table {
    background: var(--white-background-color);
}

.pricing-table-main-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8rem;
}

.pricing-table-main-text h3 {
    color: var(--linear-color);
    font-family: var(--font-family-pricing-h3);
    font-size: 4rem;
}

.pricing-table-span-color {
    background: var(--linear-color);
    background-clip: text;
    color: transparent;
}

.pricing-table-main-text p {
    font-size: 2rem;
    color: var(--grey-dark);
    font-family: var(--font-family-h3-p);

}

.pricing-table-style {
    background: var(--white);
    width: 382px;

    border: 1px solid var(--grey);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.pricing-table-style-best-seller-style {
    background: var(--best-seller-background-card-color);
    width: 382px;
    margin-top: -4.1rem;

    border: 1px solid var(--border-color-best-seller);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.pricing-table-text-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--black);
    padding: .8rem;
    font-family: var(--font-family-h1);
    font-weight: 400;
    color: var(--white);
    font-size: 2.4rem;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.pricing-table-text-style-best-seller-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--linear-color);
    padding: 1.1rem;
    font-family: var(--font-family-h1);
    font-weight: 400;
    color: var(--white);
    font-size: 2.4rem;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.pricing-table-text-center-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6rem;
}

.pricing-table-text-center-style-standard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6rem
}

.pricing-check-style-group-standard {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.pricing-text-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-table-style-standard {
    border: 1px solid;
    width: 382px;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.pricing-table-text-center-style-best-seller-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1.3rem;
}

.pricing-table-text-contain-style-best-seller-style {
    margin-bottom: 4.5rem;
}

.pricing-chack-style-best-seller {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.pricing-table-text-description {
    font-size: 3.6rem;
    font-weight: bold;
    font-family: var(--font-family-h1);
    color: var(--black-light);
}

.pricing-table-text-description-best-seller-style {
    font-size: 3.6rem;
    font-weight: bold;
    font-family: var(--font-family-h1);
    color: var(--black-light);
}

.pricing-table-text-days-supply {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: var(--font-family-h1);
    color: var(--grey-dark);
}

.pricing-table-text-days-supply-best-seller-style {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: var(--font-family-h1);
    color: var(--grey-dark);
}

.pricing-text {
    font-size: 6.4rem;
    font-weight: bold;
    font-family: var(--font-family-h1);
    color: var(--black-light);
}

.pricing-text-style-span {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: var(--font-family-h1);
    color: var(--grey-dark);
}

.pricing-chack-style {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 4.7rem;

}

.pricing-chack-style p {
    font-size: var(--font-size);
    font-family: var(--font-family-h1);
    font-weight: 500;
    color: var(--grey-dark);
}

.buynow {
    display: inline-block;

    margin-top: 3.4rem;
    margin-left: 2.8rem;
    margin-bottom: 1.6rem;
    width: 314px;
    height: 103px;
    background-image: url(images/buynow.png);
}

.flagcards {
    margin-left: 2.8rem;
}

.pricing-text-style {
    font-family: var(--font-family-h1);
    color: var(--discount-grey);

}

.discount-text {
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 1.6rem;
    margin-bottom: 3.8rem;
    text-align: center;

    color: var(--discount-grey);
    font-family: var(--font-family-h1);
}

.discount-price {
    text-decoration: line-through var(--red);
}

.discount-price-new-value {
    color: var(--primary-dark);
}

.pricing-cards-group {
    display: flex;
    margin-left: 35rem;
    gap: 3.2rem;
}

.princing-text-cards-starter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.3rem;
}